<div class="reviews-container">
  <h2 class="title">Chokolate<span class="choco"> is loved</span></h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Victoria Dobrzhanska</h3>
        <p class="swiper-slide-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Victoria_Dobrzhanska.png"
          alt="Girl"
          width="80"
        />
      </div>
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Nazar Babenko</h3>
        <p class="swiper-slide-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Nazar_Babenko.png"
          alt="Boy"
          width="80"
        />
      </div>
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Olena Kampusch</h3>
        <p class="swiper-slide-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Olena_Kampusch.png"
          alt="Girl"
          width="80"
        />
      </div>
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Irina Tydnyuk</h3>
        <p class="swiper-slide-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Irina_Tydnyuk.png"
          alt="Boy"
          width="80"
        />
      </div>
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Danilo Nottingham</h3>
        <p class="swiper-slide-text">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Danilo_Nottingham.png"
          alt="Boy"
          width="80"
        />
      </div>
      <div class="swiper-slide">
        <h3 class="swiper-slide-title">Natalia Sus</h3>
        <p class="swiper-slide-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
        <img
          class="swiper-slide-img"
          src="../img/Natalia_Sus.png"
          alt="Boy"
          width="80"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
