<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/advantages.css" />
  </head>
  <body>
    <section class="advantages">
      <div class="advantages-container">
        <h1 class="visually-hidden">Our advantages</h1>
        <ul class="advantages-list">
          <li class="advantages-item">
            <svg class="advantages-icon" width="32" height="32">
              <use
                href="./src/icons.svg#icon-fluent-emoji-high-contrast_chocolate-bar"
              ></use>
            </svg>
            <div class="advantages-container-text">
              <h2 class="advantages-title">Unsurpassed taste</h2>
              <p class="advantages-text">
                Crafted with the finest quality cocoa beans and a dedication to
                perfection, each bite is a decadent experience that simply
                cannot be matched. Savor the richness and complexity of our
                Unsurpassed Taste and discover a new level of chocolate bliss.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <svg class="advantages-icon" width="32" height="32">
              <use href="./src/public/icons.svg#icon-Coin"></use>
            </svg>
            <div class="advantages-container-text">
              <h2 class="advantages-title">Affordable price</h2>
              <p class="advantages-text">
                Indulge in high-quality chocolate without breaking the bank with
                Simply Chocolate's selection of affordable treats. Enjoy
                mouth-watering truffles and velvety chocolate bars without
                sacrificing taste or quality. Browse our selection and indulge
                in affordable luxury today.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <svg class="advantages-icon" width="32" height="32">
              <use href="./src/public/icons.svg#icon-la_utensil-spoon"></use>
            </svg>
            <div class="advantages-container-text">
              <h2 class="advantages-title">Own production</h2>
              <p class="advantages-text">
                We take pride in our own production process, ensuring that every
                step is carefully crafted to perfection. From selecting the
                finest ingredients to handcrafting each piece, our attention to
                detail is evident in every bite.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
