<footer class="footer">
    <div class="container-footer">
        <h1 class="slogan-footer">Chocolate a delicious cure for a bad day</h1>
        <div class="contacts-footer">
            <p class="text-footer">Contact us</p>
            <address class="address-footer">
                <ul class="list-footer">
                    <li class="item-footer">
                        <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
                    </li>
                    <li class="item-footer">
                        <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                    </li>
                </ul>
            </address>
        </div>
        <div class="social-media-footer">
            <ul class="soc-list-footer">
                <li class="soc-item-footer">
                    <a class="soc-link-footer" href="https://www.instagram.com/">
                        <svg class="icon-footer" width="22" height="22">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-item-footer">
                    <a class="soc-link-footer" href="https://twitter.com/twitter?lang=uk">
                        <svg class="icon-footer" width="22" height="22">
                            <use href=""></use>
                        </svg> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-footer">
            <ul class="site-nav-footer">
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="">Home</a>
                </li>
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="">How it’s made?</a>
                </li>
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="">Our products</a>
                </li>
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="">Top sellers</a>
                </li>
                <li class="nav-item-footer">
                    <a class="nav-link-footer" href="">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </div>
</footer>