<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPLY CHOCOLATE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/header.css" />
  </head>

  <body class="page">
    <header class="header-page">
      <div class="header-container container">
        <nav class="header-nav">
          <a class="header-logo link" href="">
            <span class="header-logo-text1">SIMPLY</span>
            <span class="header-logo-text2"> CHOCOLATE</span>
            <svg class="header-icon-logo" width="21" height="21">
              <use class="" href="../img/icons.svg#icon-logo"></use>
            </svg>
          </a>

          <div class="header-thumb-list">
            <ul class="header-list list">
              <li class="header-item">
                <a class="header-link current link" href="home">Home</a>
              </li>

              <li class="header-item">
                <a class="header-link link" href="made">How it’s made?</a>
              </li>

              <li class="header-item">
                <a class="header-link link" href="products">Our products</a>
              </li>

              <li class="header-item">
                <a class="header-link link" href="sellers">Top sellers</a>
              </li>

              <li class="header-item">
                <a class="header-link link" href="choco_love"
                  >Chocolate is loved</a
                >
              </li>
            </ul>
          </div>
        </nav>

        <div class="header-thumb-soc-list">
          <ul class="header-soc-list list">
            <li class="header-soc-item">
              <a href="" class="header-soc-link link" target="_blank">
                <svg class="header-soc-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-item">
              <a href="" class="header-soc-link link" target="_blank">
                <svg class="header-soc-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <button class="menu-open js-open-menu"  type="button">
          <svg class="icon-menu-open" width="21" height="14">
            <use href="../img/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>

      
        <div class="mob-menu js-menu-container">
          <div class="mob-menu-container">
            <button class="menu-close js-close-menu"  type="button">
              <svg class="icon-menu-close" width="12" height="12">
                <use href="../img/icons.svg#icon-close"></use>
              </svg>
            </button>

            <div class="menu-thumb-list">
              <ul class="mob-menu-list list">
                <li class="mob-menu-item">
                  <a class="mob-menu-link current link" id="home" href=""
                    >Home</a
                  >
                </li>

                <li class="mob-menu-item">
                  <a class="mob-menu-link link" href="made">How it’s made?</a>
                </li>

                <li class="mob-menu-item">
                  <a class="mob-menu-link link" href="products">Our products</a>
                </li>

                <li class="mob-menu-item">
                  <a class="mob-menu-link link" href="sellers">Top sellers</a>
                </li>

                <li class="mob-menu-item">
                  <a class="mob-menu-link link" href="choco_love"
                    >Chocolate is loved</a
                  >
                </li>
              </ul>
            </div>

            <div class="menu-thumb-soc-list">
              <ul class="mob-menu-soc-list list">
                <li class="mob-menu-soc-item">
                  <a href="" class="mob-menu-soc-link link" target="_blank">
                    <svg class="mob-soc-icon" width="22" height="22">
                      <use href="../img/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="mob-menu-soc-item">
                  <a href="" class="mob-menu-soc-link link" target="_blank">
                    <svg class="mob-soc-icon" width="22" height="22">
                      <use href="../img/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
     
    </header>

    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
