
    <header class="header-page">
      <div class="header-container container">
        <nav class="header-nav">
          <a class="header-logo link" href=""> SIMPLY
            <span class="header-logo-text">  CHOCOLATE</span>
            <svg class="header-icon-logo" width="21" height="21">
              <use class="" href="../img/icons.svg#icon-logo"></use>
            </svg>
          </a>

          <div class="header-thumb-list">
            <ul class="header-list list">
              <li class="header-item">
                <a class="header-link current link" href="home">Home</a>
              </li>

              <li class="header-item">
                <a class="header-link link"  href="made"
                  >How it’s made?</a
                >
              </li>

              <li class="header-item">
                <a class="header-link link" href="products"
                  >Our products</a
                >
              </li>

              <li class="header-item">
                <a class="header-link link"  href="sellers"
                  >Top sellers</a
                >
              </li>

              <li class="header-item">
                <a class="header-link link"  href="choco_love"
                  >Chocolate is loved</a
                >
              </li>
            </ul>
          </div>
        </nav>

        <div class="header-thumb-soc-list">
          <ul class="header-soc-list list">
            <li class="header-soc-item">
              <a href="" class="header-soc-link link" target="_blank">
                <svg class="header-soc-icon" width="22" height="22">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-item">
              <a href="" class="header-soc-link link" target="_blank">
                <svg class="header-soc-icon" width="20" height="20">
                  <use href="../img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <button class="menu-open" type="button">
          <svg class=" icon-menu-open" width="21" height="14">
            <use  href="../img/icons.svg#icon-burger"
            ></use>
          </svg>
        </button>
      </div>



      <div class="mob-menu">
        <div class="mob-menu-container">

          <button class="menu-close" type="button">
            <svg class="icon-menu-close" width="12" height="12">
              <use href="../img/icons.svg#icon-close"></use>
            </svg>
          </button>

          <div class="menu-thumb-list">
            <ul class="mob-menu-list list">
              <li class="mob-menu-item">
                <a class="mob-menu-link current link" id="home" href="">Home</a>
              </li>

              <li class="mob-menu-item">
                <a class="mob-menu-link link"  href="made"
                  >How it’s made?</a
                >
              </li>

              <li class="mob-menu-item">
                <a class="mob-menu-link link"  href="products"
                  >Our products</a
                >
              </li>

              <li class="mob-menu-item">
                <a class="mob-menu-link link"  href="sellers">Top sellers</a>
              </li>

              <li class="mob-menu-item">
                <a class="mob-menu-link link"  href="choco_love"
                  >Chocolate is loved</a
                >
              </li>
            </ul>
          </div>

          <div class="menu-thumb-soc-list">
            <ul class="mob-menu-soc-list list">
              <li class="mob-menu-soc-item">
                <a href="" class="mob-menu-soc-link link" target="_blank">
                  <svg class="mob-soc-icon" width="22" height="22">
                    <use href="../img/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="mob-menu-soc-item">
                <a href="" class="mob-menu-soc-link link" target="_blank">
                  <svg class="mob-soc-icon" width="20" height="20">
                    <use href="../img/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>


  
