<div class="swiper">         
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class="slider-img" 
        src="../img/top-sellers/chocolate-pices-mob-modal.png"
        srcset="
        ../img/top-sellers/chocolate-pices-mob-modal.png 1x,
        ../img/top-sellers/chocolate-pices-mob-modal-x2.png 2x"
        
         alt="chocholate">
        
        <button  type="submit" class="waight-btn">100 g</button>
    </div>
      <div class="swiper-slide">
        <img class="slider-img" 
        src="../img/top-sellers/milk-chocolate-mob-modal.png" 
        srcset="
        ../img/top-sellers/milk-chocolate-mob-modal.png 1x,
        ../img/top-sellers/milk-chocolate-mob-modal-x2.png 2x,"
        alt="chocholate">
        <button  type="submit" class="waight-btn">200 g</button></div>
      <div class="swiper-slide">
        <img class="slider-img" 
        src="../img/top-sellers/chocolate-plate-mob-modal.png"
        srcset="
        ../img/top-sellers/chocolate-plate-mob-modal.png 1x,
        ../img/top-sellers/chocolate-plate-mob-modal-x2.png 2x,"

         alt="chocholate">
        <button  type="submit" class="waight-btn">300 g</button></div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>




<script src="../js/top-seller-modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../js/swiper.js"></script>
<script src="../js/country-list.js"></script>